// Заголовки, загальні БЕМ блоки та інше...

.btn {
  font-family: Lora;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.79;
  text-transform: uppercase;
  padding: 10px 15px;
  transition: all 0.25s ease;
}

.btn-white {
    color: #000;
    background: #fff;
    border: solid 1px #fff;

    @media (any-hover: hover) {
        &:hover {
            background: #000;
            color: #fff;
        }
    }

    &:focus,
    &:focus-visible {
        border: solid 1px #fff;
        background-color: #777;
        outline: none;
    }
}

.btn-black {
    color: #fff;
    background: #000;
    border: solid 1px #fff;

    @media (any-hover: hover) {
        &:hover {
            background: #fff;
            color: #000;
        }
    }

    &:focus,
    &:focus-visible {
        border: solid 1px #fff;
        background-color: #3c3c3c;
        outline: none;
    }
}

.btn-grey {
    color: #fff;
    background: #777777;
    border: solid 1px #777777;

    @media (any-hover: hover) {
        &:hover {
            background: #000;
            border: solid 1px #000;
        }
    }

    &:focus,
    &:focus-visible {
        border: solid 1px #373737;
        background-color: #373737;
        outline: none;
    }
}

.btn-outline {
    color: #242424;
    background: transparent;
    border: solid 1px #dfdfdf;

    @media (any-hover: hover) {
        &:hover {
            background: #dfdfdf;
            border: solid 1px #dfdfdf;
        }
    }

    &:focus,
    &:focus-visible {
        border: solid 1px #242424;
        background-color: #777;
        outline: none;
    }
}

.h2 {
  font-family: Marcellus;
  @include adaptiveValue("font-size", 62, 42);
  line-height: 1.21;
  color: #242424;
}

.sub-heading {
    color: #c3935b;
    font-family: Lora;
    @include adaptiveValue("font-size", 22, 18);
    font-weight: 500;
    font-style: italic;
    line-height: 1.14;
}

.h3 {
    font-family: Marcellus;
    @include adaptiveValue("font-size", 30, 26);
    line-height: 1.33;
    text-align: center;
    color: #242424;
}